<div id="emp-expl">
    <p>Cet outil permet d’interroger le fichier « Description des emplois salariés en 2018 » de l’INSEE, publié le 21 Juin 2021. Le fichier est un <b>échantillon de 2.3 millions d'entrées</b>, les informations sont donc susceptibles de ne pas être présentes selon les critères choisis du formulaire.</p>
        <p>Les informations relatives aux données utilisées par cette application sont consultables ici :</p>
    <ul>
        <li>Fiche principale ("données salariés"): <a href="https://www.insee.fr/fr/statistiques/5366604">https://www.insee.fr/fr/statistiques/5366604</a></li>
        <li>Documentation: <a href="https://www.insee.fr/fr/statistiques/5366604#documentation">https://www.insee.fr/fr/statistiques/5366604#documentation</a></li>
    </ul>
    <p>Par ailleurs, <b>ni cet outil ni l'auteur de cet outil n'est affilié à l'INSEE</b>. Cette application est distribuée telle quelle sans aucune garantie, de même que les résultats sont affichés à titre informatif uniquement. L'application est sous licence Open Source <a href="https://joinup.ec.europa.eu/sites/default/files/inline-files/EUPL%20v1_2%20FR.txt">European Union Public License</a>.</p>
</div>

<div id="emp-form">
    <form [formGroup]="uForm" (ngSubmit)="onSubmit()">
        <section>
            <div class="formulaire-label">
                <label>Profession (catgorie sociale-professionnelle)</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="professionData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="professionCatSocialPro">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Domaine d'emploi de l'employeur</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="domEmployeurData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="domEmploiEmployeur">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Département de résidence</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="deptResidenceData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="deptResidence">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Convention collective</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="convCollData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="convColl">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Type de contrat de travail</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="contratTravailData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="typeContratDeTravail">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Genre</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="genreData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="genre">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Tranche d'âge</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="ageData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="age">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <label>Tranche d'effectif</label>
            </div>
            <div class="formulaire-button-row">
                <ng-select2
                    [data]="trancheEffectifData"
                    width="100%"
                    placeholder="Facultatif"
                    [allowClear]="true"
                    formControlName="trancheEffectif">
                </ng-select2>
            </div>
        </section>
        <section>
            <div class="formulaire-label">
                <p *ngIf="isOnError" style="color: red;">Sélectionner au moins un critère.</p>
            </div>
            <div class="formulaire-label">
                <button mat-raised-button type="submit">Voir les résultats</button>
            </div>
        </section>
    </form>
</div>


<app-resultat *ngIf="jsonDataResponse!=null" [jsonDataResponse]="jsonDataResponse"></app-resultat>
